body {
  background-image: url(https://www.wallpaperflare.com/static/982/950/522/spices-grades-variety-abundance-wallpaper.jpg);
  background-color: white;
}

h1 {
  width: 80%;
  text-align: center;
  color: rgb(4, 4, 4);
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  font-size: xxx-large;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  padding: 20px;
}

.background {
  background-color: burlywood;
  max-width: 500px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

ul, a {
  text-align: center;
  width: 200px;
  margin: auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
  margin-top: ;
}
